body{
    min-height: 100vh;
}

.timer {
    position: absolute;
    top: 0;
    right: 0;
}

.hidden {
    display: none;
}

.score-modal {
    position: fixed;
    background-color: red;
    width: 350px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}