html {
    overflow: hidden;
}

body{
    min-height: 100vh;
    position: relative;
}

.timer {
    position: absolute;
    top: 0;
    right: 0;
}

.hidden {
    display: none;
}

.score-modal {
    position: fixed;
    background-color: red;
    width: 350px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.spacer-footer {
    height: 40px;
    width: 40px;
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(46, 46, 46);
    padding: 15px 0;
}

@media only screen and (max-width: 730px) {
    .timer{
        position: relative;
    }
}